* {
    box-sizing: border-box;
}

body {
    background: rgb(38, 38, 39);
    color: white;
    margin: 0 auto;
    width: 100%;
}

.link {
    text-decoration: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.wrapperHome {
    background: rgb(51, 50, 50) url(../img/Website-Design-Background-1.jpg) no-repeat;
    background-size: 100% 100vh;
    position: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    padding: 0 50px;
}

.slide {
    animation: slideRight 3s cubic-bezier(.72, 0, 0.175, 1) 1 normal forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100vw); 
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    transform: translateY(-50px);
}

@keyframes slideDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slideDown {
    animation: slideDown 1.5s ease-in 1s 1 normal forwards;
}

.home {
    width: 100px;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.details>.link:hover {
    text-decoration: line-through;
}

.intro {
    margin: 0px 100px;
    width: 80%;
    height: fit-content;
    position: relative;
    top: 20%;
    left: 5%;
}

@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.quote {
    font-size: 12vmin;
    width: 50%;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 10px;
    line-height: 12vmin;
    opacity: 0;
    transform: translateY(50%);
}

.hello {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Arapey', serif;
    font-size: 2.5vmin;
    opacity: 0;
    transform: translateY(50%);
}

.projectLink {
    text-align: right;
    margin: 0;
    font-size: 12px;
    transform: translateY(50%);
    opacity: 0;
}

.slideUp {
    animation: slideUp 1.5s ease-in 1s 1 normal forwards;
}

.footer {
    font-weight: bold;
    position: absolute;
    width: 90%;
    bottom: 8px;
}

.socialMedia {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 14px;
    margin: 0;
}

.warning {
    font-family: 'Arapey', serif;
    color: rgb(156, 156, 156);
    text-align: right;
    display: block;
    letter-spacing: 2px;
    padding: 5px;
}